/* game.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#gameCanvas {
  border: 1px solid #00ffcc; /* Border around the game canvas */
  display: none; /* Initially hide the canvas */
}

button {
  padding: 10px 20px;
  background-color: #00ffcc;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #00cc99;
}

.info {
  display: none;
  text-align: center;
}

#startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameOver {
  display: none;
  text-align: center;
  color: #ff0044; /* Red color for Game Over */
}

#finalScore {
  font-size: 24px;
  font-weight: bold;
}
